
.row{
  height: auto;
  background-color: #1edaca;
}
.row .col{
  height: auto;
  /* border: 2px solid white; */
}
.row .col .div{
  height: 40px;
  width: 80px;
  /* border: 1px solid white; */
}
.row .col .div i{
  color: white;
  font-size: 24px;
}
